$color-gray: #333;

.Header {
  display: flex;
  flex-direction: column;
  background-color: $color-gray;
  padding: 40px 0;
  // justify-content: center;
  align-items: center;

  img {
    display: inline-block;
    height: 100px;
    width: 100px;
  }
}
